.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;

  margin-left: auto;
  margin-right: auto;

  padding: 43px 24px 98px 20px;

  width: 280px;
  height: auto;

  background: #fff;
  box-shadow: 0px 2px 3px 0px rgba(9, 30, 63, 0.1);
}

.info__wrapper {
  display: flex;
  gap: 12px;
  margin-bottom: 8px;
}

.info__item {
  margin-bottom: 20px;
}

.info__btn {
  border: none;
  padding: 12px 54px;

  color: #fff;
  text-align: center;

  font-size: 14px;

  font-weight: 500;

  background: #ff6b08;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
}

.info__head {
  color: #242a37;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 8px;
}

.info__subhead {
  color: #242a37;
  font-size: 16px;
  font-weight: 600;
}

.info__description {
  color: #898f9f;
  font-size: 14px;
  font-weight: 400;
}

.info__wrapperDescription {
  margin-left: 36px;
  display: flex;
  align-items: flex-start;
  gap: 8px;
}

.info__icon {
  //   fill: #a6abb9;
  stroke: #a6abb9;
}

@media screen and (min-width: 768px) {
  .wrapper {
    width: 608px;
    height: auto;
    padding: 40px;
  }

  .info__btn {
    display: none;
  }
}
