.google_btn {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 150px;
  height: 40px;
  background-color: #f5f7fa;

  box-shadow: 0px 2px 2px 0px rgba(9, 30, 63, 0.15);
  border: transparent;

  color: #707375;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  line-height: 2.4;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: #a3bcff;
    cursor: pointer;
  }
}

.img {
  display: inline-block;
  margin-right: 16px;

  padding-top: 11px;
  padding-bottom: 11px;
}
